<div class="page-layout carded left-sidebar ">
    <table mat-table [dataSource]="montanhas" class="mat-elevation-z">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Foto</th>
            <td mat-cell *matCellDef="let element">
                {{element.montanha.id}}
            </td>
        </ng-container>

        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let element">
                {{ element.montanha.nome }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef=""></tr>
        <tr
            routerLink=""
        ></tr>
    </table>
</div>
<!-- / CONTENT CARD -->
